<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raon.raondanim.dao.AccountsUserDAO">
	<insert id="joinUser" parameterType="User">
		INSERT INTO USER_TB002
			   (USER_NUM, USER_ID, USER_PW, USER_FNM, USER_LNM, USER_REG_DATE)
		VALUES (
				USER_TB001_SEQ.nextval,
				#{user_id},
				#{user_pw},
				#{user_fnm},
				#{user_lnm},
				sysdate
				)
	</insert>
</mapper>