<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raon.raondanim.dao.AccountsUserDAO">
	<insert id="joinUser" parameterType="User">
		INSERT INTO USER_TB
			   (USER_NUM, USER_ID, USER_PW, USER_FNM, USER_LNM, USER_VERIFY_CODE, USER_REG_DATE)
		VALUES (
				USER_TB_SEQ.nextval,
				#{user_id},
				#{user_pw},
				#{user_fnm},
				#{user_lnm},
				#{user_verify_code},
				sysdate
				)
	</insert>
	<select id="selectByUserId" resultType="User" parameterType="string">
		SELECT *
		  FROM USER_TB
		 WHERE user_id = #{userid}
	</select>
	<select id="selectByUserNum" resultType="User" parameterType="string">
      SELECT *
        FROM user_tb
       WHERE user_num = #{usernum}
   </select>
	<update id="email_verify" parameterType="User">
		UPDATE USER_TB
		   SET user_email_verify = 1
		 WHERE user_id = #{user_id}
		   AND user_verify_code = #{user_verify_code}
	</update>
</mapper>