<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raon.raondanim.dao.ReviewReplyDao">
	
	<insert id="insertReply" parameterType="map">
		INSERT
		  INTO REVIEW_REPLY_TB
		  		(RE_REPLY_NUM, REVIEW_NUM, USER_NUM, REV_REP_CONTENT, RE_REPLY_DATE, RE_REPLY_ST)
		VALUES (REVIEW_REPLY_TB_SEQ.nextval, #{REVIEW_NUM}, #{USER_NUM}, #{REV_REP_CONTENT}, SYSDATE, 0)
	</insert>
	 
	<update id="updateReply" parameterType="map">
		UPDATE 		REVIEW_REPLY_TB
		   SET 		REV_REP_CONTENT = #{REV_REP_CONTENT}
		WHERE 		RE_REPLY_NUM = #{RE_REPLY_NUM}
	</update>
	
	<delete id="deleteReply" parameterType="int">
<!-- 		DELETE -->
<!-- 		  FROM 	REVIEW_REPLY_TB -->
<!-- 		 WHERE 	RE_REPLY_NUM = #{RE_REPLY_NUM} -->
		 
		UPDATE 		REVIEW_REPLY_TB
		   SET 		RE_REPLY_ST = 1
		WHERE 		RE_REPLY_NUM = #{RE_REPLY_NUM}
	</delete>

	<select id="selectAll" resultType="map">
		SELECT 	*  
		  FROM  REVIEW_REPLY_TB
		 WHERE  RE_REPLY_ST = 0	
	</select>
	
	<select id="selectOne" parameterType="int" resultType="map">
		SELECT *
		  FROM REVIEW_REPLY_TB
		 WHERE RE_REPLY_NUM = #{RE_REPLY_NUM} and RE_REPLY_ST = 0
	</select>
	
	<select id="selectByReviewNum" parameterType="int" resultType="map">
		SELECT r.RE_REPLY_NUM,
			   r.REVIEW_NUM,
			   r.USER_NUM,
			   r.REV_REP_CONTENT,
			   r.RE_REPLY_DATE,
			   r.RE_REPLY_ST,
			   u.USER_FNM,
			   u.USER_LNM,
			   u.USER_PW
		  FROM REVIEW_REPLY_TB r left outer join USER_TB u
		    ON  r.USER_NUM = u.USER_NUM
		 WHERE REVIEW_NUM = #{REVIEW_NUM} and r.RE_REPLY_ST = 0
	</select>
	
	<select id="selectByUserNum" parameterType="int" resultType="map">
		SELECT *
		  FROM REVIEW_REPLY_TB
		 WHERE USER_NUM = #{USER_NUM} and RE_REPLY_ST = 0
	</select>
	
	<select id="selectTotalCount" resultType="int">
		SELECT count(*)
		  FROM REVIEW_REPLY_TB
		 WHERE RE_REPLY_ST = 0
	</select>
	
	<select id="replyList" parameterType="map" resultType="map">
		SELECT *         
  		  FROM (SELECT ROWNUM as RNUM, USER_NUM, USER_ID, USER_PW, USER_LNM, USER_FNM, rcount,
                            		RE_REPLY_NUM, REVIEW_NUM,  REV_REP_CONTENT, RE_REPLY_DATE, RE_REPLY_ST
          		  FROM (SELECT u.USER_NUM, u.USER_ID, u.USER_PW, u.USER_LNM, u.USER_FNM, 
                        			count(r.RE_REPLY_NUM) as rcount, r.RE_REPLY_NUM, r.REVIEW_NUM, 
                        				r.REV_REP_CONTENT, r.RE_REPLY_DATE, r.RE_REPLY_ST
                  		  FROM REVIEW_REPLY_TB r left outer join USER_TB u
                    		ON u.USER_NUM = r.USER_NUM
                    	 WHERE r.RE_REPLY_ST = 0
                 		 GROUP BY u.USER_NUM, u.USER_ID, u.USER_PW, u.USER_LNM, u.USER_FNM, 
                            			r.RE_REPLY_NUM, r.REVIEW_NUM, r.REV_REP_CONTENT, r.RE_REPLY_DATE, r.RE_REPLY_ST
                 		 ORDER BY r.RE_REPLY_DATE DESC)
        		)
 		 WHERE RNUM between #{firstRow} and #{endRow}
	</select>
</mapper>