<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raon.raondanim.dao.UserAuthDAO">
	<select id="getUserById" resultType="customUserDetails">
		SELECT 	*
		FROM 	user_tb002
		WHERE 	USER_ID = #{user_id}
	</select>
	<update id="updateFailureCount">
		UPDATE user_tb002
		   SET USER_FAILURE_CNT = USER_FAILURE_CNT + 1
		 WHERE USER_ID = #{user_id}
	</update>
	<update id="tryLoginData">
		UPDATE user_tb002
		   SET USER_LAST_TRY_LOGIN_TIME = sysdate
		 WHERE USER_ID = #{user_id}
	</update>
	<select id="checkFailureCount" resultType="int" parameterType="string">
		SELECT 	USER_FAILURE_CNT
		FROM 	user_tb002
		WHERE 	USER_ID = #{user_id}
	</select>
	<update id="updateDisabled">
		UPDATE user_tb002
		   SET enabled = 0
		 WHERE USER_ID = #{user_id}
	</update>
	<update id="updateFailureCountReset">
		UPDATE user_tb002
		   SET USER_FAILURE_CNT = 0
		 WHERE USER_ID = #{user_id}
	</update>
	<update id="tryLoginDataReset">
		UPDATE user_tb002
		   SET USER_LAST_TRY_LOGIN_TIME = null
		 WHERE USER_ID = #{user_id}
	</update>
	<update id="checkLastLoginTime">
		UPDATE user_tb002
		   SET USER_LAST_LOGIN_TIME = sysdate
		 WHERE USER_ID = #{user_id}
	</update>
</mapper>